nav {
  height: 5rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 1.125rem 6.3125rem;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1rem;
  line-height: 120%;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 1.875rem;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  align-items: stretch;
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
}
.nav-action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-icon {
  width: 2.5625rem;
  height: 2.5625rem;
}

.nav-action {
  display: block;
}

.dropbtn {
  color: black;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-arrow {
  display: inline-block;
  height: 0;
  width: 0;
  border-left: 0.625rem dashed transparent;
  border-right: 0.625rem dashed transparent;
  border-top: 0.625rem dashed #333;
  position: relative;
}

.dropdown:hover .dropdown-arrow {
  border-left: 0.625rem solid transparent;
  border-right: 0.625rem solid transparent;
  border-bottom: 0.625rem solid #333;
  border-top: 0.625rem solid transparent;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background: #fff;
  width: 114px;
  filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19));
  z-index: 1;
  text-align: center;
}

.dropdown-content div {
  cursor: pointer;
  align-self: center;
  width: 114px;
  height: 45px;
  color: black;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  text-decoration: none;
  display: block;
}

.dropdown-content div:hover {
  background-color: #eeeeee;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.nav-cart {
  display: inline-block;
  padding-left: 1.375rem;
  width: 1.25rem;
  height: 1.125rem;
}

.category-title {
  margin-left: 110px;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 160%;
}
.shh{
  padding: 6.25rem;
}

.category-card-contanir {
  margin: 3.125rem;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 6.25rem 0 ;
  
}

.category-card {
  padding: 1rem;
  /* width: 24.125rem;
  height: 27.75rem; */
  background: rgb(255, 255, 255);
}

.category-card div{
 position: relative;
}

.category-card-img {
  width : 22.125rem ;
  height:20.625rem;
}
.category-card-icon{
  display: none;
  position :absolute;
  right: 15px;
bottom: -26px;
}
.category-card h2{
font-family: 'Raleway';
font-style: normal;
font-weight: 300;
font-size: 1.125rem;
line-height: 160%;
color: #1D1F22;
}
.category-card:hover{
  filter: drop-shadow(0rem 0.25rem 2.1875rem rgba(168, 172, 176, 0.19));
}

.category-card:hover .category-card-icon{
 display:block;
}