nav{
  height: 80px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 18PX 101PX ;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

li {
  align-items: stretch;
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
}

.nav-icon{
  width: 41px;
  height: 41px;
}

.nav-action{
 display :block;
 
}