
.mini-brand{
  display: block;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  margin: 0;
  color: #1D1F22;
}

.swatch-picker {
  display: block;
  width: auto;
  text-align: center;
}


.mini-swatch-picker{
  display: block;
  width: auto;
  text-align: center;
}



 .mini-swatch-picker label {
  display: inline-block;
  height: 24px;
  height: 24px;
  position: relative;
  /* margin: 0.1rem 0.1rem; */
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.mini-swatch-picker span{
 
  border-radius: 0.1875rem;
}

.mini-swatch-picker input {
  -webkit-appearance: none;
}

.mini-swatch-picker input:checked + span {
  border: 0.1rem solid rgba(0, 0, 0, 0.6);
  border: 0.1rem solid rgba(0, 0, 0, 0.6);
}

.mini-cart-control{
 background-color: aqua;
}



.mini-quantity{
  display: flex;
  flex-direction: column;
  /* height: 288px; */
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: 0 24px;
}

.mini-add,
.mini-subtract{
  cursor: pointer;
  font-size: 18px;
  transition: 0.6s ease;
  text-align: center;
  width: 24px;
  height: 24px;
  border: #000 solid 1px;
}

.mini-cart-control-img{
  width: 121px;
  height: 190px;
}

.mini-cart-control img{
  width: 121px;
height: 190px;
}



.mini-cart-control-img-butt{
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 24px;
  right: 0;
  bottom: 0;
  margin: 16px;
}

.mini-prev,
.mini-next {
  cursor: pointer;
  color: white;
  /* font-weight: bold; */
  font-size: 18px;
  transition: 0.6s ease;
  text-align: center;
  width: 24px;
  height: 24px;
  background: rgba(0, 0, 0, 0.73);
  /* transform: matrix(1, 0, 0, 1, 0, 0); */
}

.mini-prev:hover,
.mini-nexthover
{
  background-color: rgba(0, 0, 0, 1);
}

.mini-cart{
  width: 325px;
  position: absolute;
  background: #fff;
  filter: drop-shadow(0rem 0.25rem 2.1875rem rgba(168, 172, 176, 0.19));
  z-index: 1;
  background-color: #5ece7b;
}